<!DOCTYPE html>
<html>
<head>
  <title>Topnews</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <img class="card-image" src="../static/images/Designer.png"  alt="Designer">
    <div class="card-title">
      <button> <a href='/Topnews'>Hacker News for today</a></button>
    </div>
    
  </div>

</body>
</html> 